p {
	font-family: Roboto;
	font-size: 17px;
	color: #812b2b;
	text-align: center;
}

center {
	font-family: Roboto;
	font-size: 17px;
	color: #812b2b;
	text-align: center;
}

bonta {
	font-family: Roboto;
	font-size: 17px;
	color: #006868;
	text-align: center;
}

brakmar {
	font-family: Roboto;
	font-size: 17px;
	color: #860000;
	text-align: center;
}

malus {
    font-family: Roboto;
    font-size: 17px;
    color:#b85900;
    text-align: center;
}